* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    width: 100%;
    min-height: 100vh;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

main > .container {
    padding: 60px 15px 0;
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.calculator {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0 20px 20px 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px auto;
    transform: translate(-50%, -50%);
    box-shadow: -1px 2px 8px 0 rgba(34, 60, 80, 0.2);
    border-radius: 5px;
    /*Task color*/
    /*background-color: rgb(109, 228, 220);*/
    background-color: rgb(89, 229, 141);
}

.title {
    text-align: center;
    font-size: 36px;
    margin: 20px 0;
    color: #ffffff;
}

.screen {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);

}

.calculator-screen {
    grid-column: span 3;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #FFF;
    color: #000;
    padding-right: 20px;
    padding-left: 20px;
}

button {
    height: 60px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    /*background-color: transparent;*/
    font-size: 18px;
    color: #000;
}

button:hover {
    background-color: #eaeaea;
}

.operator {
    color: #337cac;
}

.all-clear {
    background-color: #f0595f;
    border-color: #b0353a;
    color: #fff;
}

.all-clear:hover {
    background-color: #f17377;
}

.equal-sign {
    background-color: #2e86c0;
    border-color: #337cac;
    color: #fff;
    height: 100%;
}

.equal-sign:hover {
    background-color: #4e9ed4;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px 0 0 0;
}


body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
